<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">Você Ganhou!!! :)</div>
            <div v-else class="lose">Você perdeu! :(</div>
        </div>
        <div class="panel buttons"></div>
        <div class="panel logs"></div>
    </div>
    <script src="app.js"></script>
</body>

</html>